/* Card */

.card-content {
  background-color: #2a2f35;
  padding: 100px 50px;
  text-align: center;
}

.card-custom {
  background-color: #373f50;
  margin-bottom: 1rem;
  font-weight: bold;
}

.ant-card-bordered {
  border: 1px solid #7d879c;
}

.ant-card-body {
  text-align: center;
}

.card-title {
  text-align: center;
  margin-bottom: 2rem;
}

.ant-card-meta-title {
  color: #fff;
  font-weight: bold;
}

/* LikesCard */

.likes-content {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.card-empty {
  margin: auto;
  color: #7d879c;
  font-weight: bold;
  font-size: 1.5rem;
}

.empty-link {
  display: block;
  color: #bb986c;
  opacity: 0.8;
  transition: 0.5s;
}
.empty-link:hover {
  color: #bb986c;
  opacity: 1;
}
